<!DOCTYPE html>
<html>
<body>

<a href="/admin">adminPanel</a> ||| 
<a href="admin/manageClubs">manageClubs</a> |||
<a href="admin/managePlayers">managePlayers</a>

if userSession
    <form method="POST" action="/user/logout">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>